<% layout('layouts/boilerplate') %> 
<div class="row">

    <h1 class="text-center">New Enrollment </h1>
    <div class="col-6 offset-3">
        <form action="/adminpannel/new" method="POST" class="formvalidation">

            <div class="mb-3">
                <input class="form-control " type="text" id="sname" name="filter[name]" required  placeholder=" Student Name">
            </div>
            <div class="mb-3">
                <input class="form-control " type="text" id="fname" name="filter[fatherName]" required placeholder=" Father's Name">
            </div>

            <div class="mb-3">
                <input class="form-control " type="text" id="fname" name="filter[motherName]" required  placeholder=" Mother's Name">
            </div>

            <div class="mb-3">
                <select class="form-select"  name="filter[gender]"  required aria-label="Default select example">
                    <option selected value="" >Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="dob">DOB</label>
                <input class="form-control " type="date" min = "2001-01-01"  max = "2017-01-01" id="dob" name="filter[dob]" required  placeholder="DOB">
            </div>
            
            
            <div class="mb-3">
                <select class="form-select" name="filter[class]"  required aria-label="Default select example">
                    <option selected value="">Class</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
            </div>
            <div class="mb-3">
                <select class="form-select" name="filter[division]" required aria-label="Default select example">
                    <option selected value="">Division</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            <div class="mb-3">
                <input class="form-control " type="number" id="fname" name="filter[mobileNo]"  required placeholder="Mobile No.">
            </div>
            <div class="mb-3">

                <textarea class="form-control" type="text" id="description" name="filter[Address]"required placeholder="Address" ></textarea>
            </div>
            <div class="mb-3">
                <select class="form-select" name="filter[estatus]" required aria-label="Default select example">
                    <option selected value="">Status</option>
                    <option value="Active">Active</option>
                    <option value="InActive">InActive</option>
                </select>
            </div>
            <div class="col text-center">
                <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        

        </form>
        
    </div>
</div>
